div.gameContainer {
    border: black 10px solid;
}

div.game-img {
    display: flex;
    justify-content: center;
    height: 100px;
}

#your-score {
    display: flex;
    justify-content: center;
}

#computer-score {
    display: flex;
    justify-content: center;
}

#game-title {
    display: flex;
    justify-content: center;
}

.gameChoice {
    display: flex;
    justify-content: center;
}