.header {
    background-color: blanchedalmond;
    padding: 20px;
    text-align: center;
}

.header > h1 {
    color: black;
}

.nav-bar {
    overflow: hidden;
    background-color: #90878F;
}

.nav-bar a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.nav-bar a:hover {
    background-color: peru;
    color: black;
}

.contact-info {
    border: 5px solid #6D556B;
    height: fit-content;
}

.footer {
    flex-shrink: 0;
  }