* {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

/* .whole-page {
  background-color: #e1e170;
} */

.header {
  background-color: #A2A0A0;
  padding: 20px;
  text-align: center;
}

.header > h1 {
  color: black;
}

.nav-bar {
  display: flex;
  justify-content: left;
  overflow: hidden;
  background-color: #cfcece;
}

.nav-bar a {
  display: block;
  color: black;
  text-align: center;
  padding: 10px 12px;
  text-decoration: none;
}

.nav-bar a:hover {
  background-color: peru;
  color: black;
  text-decoration: none;
}

.image-profile > img {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  margin: 10px;
}

.image-profile {
  text-align: center;
}

.profile-text {
  text-align: center;
}

.text-info {
  border: 8px solid #A2A0A0;
  padding: 10px;
}

.contact-info {
  margin: 10px;
  padding: 10px;
  border: 5px solid #A2A0A0;
  height: fit-content;
  /* background-color: #e1e170; */
}

.footer {
  flex-shrink: 0;
}

body {
  background: #ccc;
  font-family: "Roboto", sans-serif;
}

/* cheatsheet css */

.mytabs {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 800px;
  margin: 50px auto;
  padding: 25px;
  background-color: #CFCECE;
}

.mytabs input[type="radio"] {
  display: none;
}

.mytabs label {
  padding: 20px;
  background: #e2e2e2;
  font-weight: bold;
}

.mytabs .tab {
  width: 100%;
  padding: 20px;
  background: #fff;
  order: 3;
  display: none;
}

.mytabs .tab h2 {
  font-size: 2em;
}

/* checked psuedo-class selects element when they are in a selected state */
.mytabs input[type="radio"]:checked + label + .tab {
  display: block;
}

.mytabs input[type="radio"]:checked + label {
  background: #fff;
}

/* Have to make sure to border the th and td as well otherwise the full border won't show */
.mytabs > table,
th,
td {
  border: 3px solid #A2A0A0;
}

/* Waffle css */
#waffle {
  color: white;
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(images/waffle.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
}

.waffle-info h1 {
  text-align: center;
  color: white;
}

